
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/Thermo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Bioinformatics Scientist II </strong> - Worked in a leading role as a development Scientist for ThermoFisher's flagship project in Next Generation sequencing. The Ion PGM™ is the world's first bench-top sequencing solution, and was featured in Hollywood blockbuster "Jurassic World". <br>
                  <br>
                  <strong> Relevant CS Skills: </strong> Postgres SQL, Python, MATLAB 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/Roche.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Bioinformatics Sceintist I </strong> - In 2015, I joined Roche's Sequenicng division as a clinical trial operator for a benchtop sequencer. My job at this position was much more hands on (less development/analysis). There I developed true proficiency in DNA benchwork. 
                  <strong> Relevant CS Skills: </strong> SQL
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/Auburn.jpeg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Lab Technician</strong> - Out of undergrad, I Worked  on an isolate novel thermophilic enzyme for use on alternative fuel sources. There I achieved my first co-author publicaiton in the Journal Applied Microbiology and Biotechnology, 7:183.
                </div>
              </div>
            </div>
           