
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/aa.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Finished top of my class at App Academy with a 97.8% average on all Assesments. App Academy is the most elite bootcamp in San Francisco with a 3% acceptance rate. Of which only a 65% graduate from the academy. Skills aquired include:
                  <ul>
                    <li>Metaprogramming </li>
                    <li>Abstract Data Structures</li>
                    <li>SQL and Database upkeep</li>
                    <li>Ruby on Rails</li>
                    <li>React</li>
                    <li>Javascript </li>
                    <li>HTML and CSS </li>
                </div>
              </div>
            </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/cal.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Completed 2 years of coursework towards doctorate in Optometry 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/Auburn.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated Magna Cum Laude from Auburn University with a BS Molecular Biology and a Minor in Computer Science. Presedential Scholar recipient.
                </div>
              </div>
            </div>
          </div>
