      
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Job History
            </button>

            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controler="education"
            >
              Education
            </button>

          
          