

<div class="inner cover">
  <h1 class="cover-heading">I am so glad that my fantasy is hiring. </h1>
      <div class = "social-links">
        <a class="list-unstyled social-links">
            <a href="https://github.com/TheLastSultan"><%= fa_icon "github" %></a>
            <a href="https://www.linkedin.com/in/mohamed-ali-elzeiny-70132a95/"><%= fa_icon "linkedin" %></a>
            <a href="https://twitter.com/"><%= fa_icon "twitter" %></a>
        </a>
      </div>
</div>
